body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.project-navbar {
  position: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
}

.project-navbar-item {
  font-size: 1rem;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.project {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-background {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.project-intro {
  position: absolute;
  top: 35%;
}

.project-intro-head {
  position: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.project-intro-desc {
  margin-bottom: 2vw;
  color: whitesmoke;
  font-size: 3.6rem;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-intro-desc-sf {
  font-weight: normal;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

.project-intro-desc-tomato {
  color: tomato;
}

.project-intro-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-intro-contents-list {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}

.project-intro-contents-list-title {
  color: whitesmoke;
  font-size: 1.5vw;
  font-weight: 700;
}

.project-intro-contents-list-stack {
  color: #e4ddd1;
  font-size: 1.2vw;
}

.project-gif {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

.project-gif-title {
  font-weight: 900;
  font-size: 2.4rem;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  border-bottom: 5px solid #ffa949;
  color: whitesmoke;
}

.project-gif-wrap {
  margin-top: 2vw;
}

.project-gif-wrap-img {
  border-radius: 5px;
}

@media screen and (max-width: 1800px) {
  .projects-desc {
    font-size: 3rem;
  }
  .projects-logo {
    width: 12rem;
  }
}

@media screen and (max-width: 1600px) {
  .projects-desc {
    font-size: 2.5rem;
  }
  .projects-logo {
    width: 12rem;
  }
}

@media screen and (max-width: 1400px) {
  .projects-desc {
    font-size: 2.3rem;
  }
  .projects-logo {
    width: 9rem;
  }
}

@media screen and (max-width: 1200px) {
  .projects-desc {
    font-size: 2rem;
  }
  .projects-logo {
    width: 8rem;
  }
}

@media screen and (max-width: 1000px) {
  .projects-desc {
    font-size: 1.5rem;
  }
  .projects-logo {
    width: 7rem;
  }
  .project-gif-title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 800px) {
  .projects-desc {
    font-size: 1.2rem;
  }
  .projects-logo {
    width: 6rem;
  }
  .project-gif-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .projects-desc {
    font-size: 0.9rem;
  }
  .projects-logo {
    width: 5rem;
  }
  .project-navbar-home {
    font-size: 0.9rem;
  }
  .header-next-project {
    font-size: 0.9rem;
  }
  .project-gif-title {
    font-size: 1.4rem;
  }
  .gif-box {
    margin-top: 5vw;
  }
  .project-navbar {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}
/*# sourceMappingURL=page.css.map */
