@import '../../../index.scss';

@mixin directionSetting($direction) {
  position: absolute;
  color: gray;
  font-size: 2rem;
  top: 40%;
  #{$direction}: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;

  &:hover {
    color: whitesmoke;
  }
}

@mixin logoSetting($width, $radius) {
  width: $width;
  border-radius: $radius;
}

@mixin justifySetting($pos, $justify) {
  position: $pos;
  display: flex;
  justify-content: $justify;
}

.project-navbar {
  @include justifySetting(none, space-between);
  z-index: 1;
  padding: {
    right: 3rem;
    bottom: 1rem;
    left: 3rem;
  }

  @include media(1750px) {
    padding: {
      right: 3.5rem;
      left: 3.5rem;
    }
  }

  &-item {
    font-size: 1rem;
    letter-spacing: 2.5px;
    cursor: pointer;

    @include media(1750px) {
      font-size: 0.8rem;
    }

    &:hover {
      color: #1890ff;
    }
  }
}

.project {
  @include justifySetting($position-relative, center);

  &-background {
    @include backgroundSetting(60%);
  }

  &-before {
    @include directionSetting(left);
  }

  &-next {
    @include directionSetting(right);
  }

  &-intro {
    position: absolute;
    top: 35%;

    &-large-circle {
      @include logoSetting(12rem, 300px);

      @include media(1750px) {
        width: 11vw;
      }
    }

    &-large-round {
      @include logoSetting(12rem, 0px);

      @include media(1750px) {
        width: 12vw;
      }
    }

    &-small-round {
      @include logoSetting(3rem, 0px);

      @include media(1750px) {
        width: 2rem;
      }
    }

    &-desc {
      margin-bottom: 2vw;
      color: whitesmoke;
      font: {
        size: 3.6rem;
        weight: 700;
        family: $font-family-mix;
      }

      @include media(1750px) {
        font-size: 3.2vw;
      }

      &-sf {
        font-weight: normal;
        font-family: 'Comic Sans MS', cursive, sans-serif;
      }

      &-tomato {
        color: tomato;
      }
    }

    &-contents {
      display: flex;

      &-list {
        flex: 1 1 0%;

        &-title {
          color: whitesmoke;
          font-size: 1.5vw;
          font-weight: 700;
        }

        &-stack {
          color: #e4ddd1;
          font-size: 1.2vw;
        }
      }
    }
  }

  &-gif {
    @include padding(6rem, 6rem);
    text-align: center;

    &-title {
      @include titleSetting();
      color: whitesmoke;

      @include media(1750px) {
        font-size: 2.2vw;
      }

      @include media(1250px) {
        font-size: 1.4rem;
      }
    }

    &-wrap {
      margin-top: 2vw;

      @include media(1250px) {
        margin-top: 1.5rem;
      }

      &-img {
        border-radius: 5px;
      }
    }
  }
}
