@import '../../index';

.education {
  @include layoutCenter($color-202a45, 140px, 140px);

  &-codestate {
    background-color: $color-whitesmoke;
    border-radius: 5px;
    margin-right: 100px;

    @include media(1200px) {
      margin-right: 0;
    }

    &-img {
      width: 300px;
      padding: 20px;
    }

    @include media(1200px) {
      display: none;
    }
  }

  .education-intro {
    @include positionSetting();

    .education-intro-title {
      color: $color-whitesmoke;
      @include titleSetting();
    }

    .education-contents {
      @include contentsSetting($color-whitesmoke);

      .education-contents-course {
        font-family: $font-family-mix3;
      }

      .education-contents-stacks {
        font-family: $font-family-mix3;
        color: $color-ffa949;
      }

      .education-contents-skills {
        color: $color-ffa949;
      }

      .education-contents-link {
        margin-top: 20px;
        cursor: pointer;
        text-decoration: underline;

        &:hover {
          color: dodgerblue;
        }
      }
    }
  }

  .decor-bottom {
    position: $position-absolute;
    width: $width-100-percent;
    height: 4vw;
    z-index: 1;
    top: auto;
    left: 0;
    right: 0;
    bottom: -2px;
  }
}

@media screen and (max-width: 900px) {
  .education .education-intro .education-contents {
    font-size: 1.1rem;
    margin-top: 30px;
  }
  .education .education-intro .education-intro-title {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 700px) {
  .education {
    padding: {
      top: 80px;
      bottom: 80px;
    }
  }
  .education .education-intro .education-contents {
    font-size: 1rem;
  }
  .education .education-intro .education-intro-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 630px) {
  .education .education-intro .education-contents {
    font-size: 0.9rem;
  }
  .education .education-intro .education-intro-title {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 570px) {
  .education-intro-wrap {
    text-align: $text-align-center;
  }
  .education .education-intro .education-contents {
    font-size: 0.8rem;
    text-align: $text-align-center;
  }

  .education .decor-bottom {
    bottom: 0px;
  }
}
