$fontWeightBold: bold;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.learn-more-btn {
  width: 10vw;
  height: 3.5vw;
  font-size: 1.2vw;
  font-weight: $fontWeightBold;
}

@media screen and (max-width: 900px) {
  .learn-more-btn {
    width: 6rem;
    height: 2rem;
    font-size: 0.7rem;
    font-weight: $fontWeightBold;
    margin-left: 10px;
  }
}
